<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
    <div class='container'>
      <div class="jumbotron">
      <h2>Please login:</h2>
      <h3>(Must be superuser,please check with site admin)</h3>
       <form method="POST">
         {% csrf_token %}
         {{form.as_p}}
         <input class='btn btn-warning' type="submit" value="Login">
       </form>
       {% if form.errors %}
       <p>Your username ans password is incorrect plz try again</p>
       {% endif %}
     </div>
    </div>
{% endblock %}
